@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500;700&display=swap');

:root {
    --color-fire: #ff7402;
    --color-grass: #9bcc50;
    --color-steel: #9eb7b8;
    --card-height: 250vh;
    --card-width: calc(var(--card-height) / 1.5);
    --color-primary: #006d77;
    --color-primary-hover: #83c5be;
}

body {
    font-family: 'Montserrat';
}

/* Globales */
.container {
    max-width: 1200px;
    margin: 0 auto;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.group-type {
    display: flex;
    gap: 10px;

    margin-left: 15px;
}

/* 
======================================= 
Styles of Pokemon Single Page
======================================= 
*/

.main-pokemon {

    display: flex;
    flex-direction: column;
    margin-bottom: 50px;
}

.info-pokemon {
    display: flex;
    justify-content: space-between;

    margin-top: 10px;
}

@property --rotate {
    syntax: "<angle>";
    initial-value: 132deg;
    inherits: false;
}

/* :root {
  --card-height: 65vh;
  --card-width: calc(var(--card-height) / 1.5);
} */


.main {
    min-height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 2rem;
    padding-bottom: 2rem;
    box-sizing: border-box;
}


.container-main {
    text-transform: capitalize;
    background: #191c29;
    width: var(--card-width);
    height: var(--card-height);
    padding: 3px;
    position: relative;
    border-radius: 6px;
    justify-content: center;
    align-items: center;
    text-align: center;
    display: flex;
    flex-direction: column;
    font-size: 1.5em;
    color: rgb(220, 233, 219);
    cursor: pointer;
    font-family: cursive;
}

.container-main:hover {
    color: rgb(88 199 250 / 100%);
    transition: color 1s;
}

.container-main:hover:before,
.container-main:hover:after {
    animation: none;
    opacity: 0;
}


.container-main::before {
    content: "";
    width: 104%;
    height: 102%;
    border-radius: 8px;
    background-image: linear-gradient(var(--rotate), #5ddcff, #3c67e3 43%, #4e00c2);
    position: absolute;
    z-index: -1;
    top: -1%;
    left: -2%;
    animation: spin 2.5s linear infinite;
}

.container-main::after {
    position: absolute;
    content: "";
    top: calc(var(--card-height) / 6);
    left: 0;
    right: 0;
    z-index: -1;
    height: 100%;
    width: 100%;
    margin: 0 auto;
    transform: scale(0.8);
    filter: blur(calc(var(--card-height) / 6));
    background-image: linear-gradient(var(--rotate), #5ddcff, #3c67e3 43%, #4e00c2);
    opacity: 1;
    transition: opacity .5s;
    animation: spin 2.5s linear infinite;
}

@keyframes spin {
    0% {
        --rotate: 0deg;
    }

    100% {
        --rotate: 360deg;
    }
}

.header-main-pokemon {
    margin-top: 20px;
    display: flex;
    align-items: center;
    position: relative;
}


.container-img-pokemon {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: -10%;
    margin-bottom: 20%;
}

.container-img-pokemon img {
    width: 130%;
}

.container-info-pokemon {
    display: flex;
    flex-direction: column;
    text-transform: capitalize;
    order: 2;
    flex: 1;
}

.container-info-pokemon2 {
    display: flex;
    flex-direction: row;
    text-transform: capitalize;
    gap: 5rem;
}

.container-info-pokemon h1 {
    text-align: right;
    font-size: 50px;
}

.group-info {
    border-radius: 20%;
    border: 1px solid white;
    font-weight: 700;
    padding: 20px;
    box-shadow:
        inset 0 -3em 3em rgba(0, 0, 0, 0.1),
        0 0 0 2px rgba(0, 0, 0, 0.3),
        0.3em 0.3em 1em rgb(255, 255, 255);

}

.container-stats {
    margin-top: 10%;
    border-radius: 5%;
    width: 55%;
    border: 1px solid white;
    font-weight: 700;
    padding: 20px;
    box-shadow:
        inset 0 -3em 3em rgba(0, 0, 0, 0.1),
        0 0 0 2px rgba(0, 0, 0, 0.3),
        0.3em 0.3em 1em rgb(255, 255, 255);
    display: flex;
    gap: 50px;
    align-items: center;
}

/* Stats */

.stats {
    display: flex;
    flex-direction: column;
    gap: 20px;
    flex: 1;
}

.stat-group {
    display: flex;
    align-items: center;
    gap: 20px;
}

.stat-group span {
    flex: 20%;
    font-weight: 500;
    font-size: 18px;
}

.progress-bar {
    /* width: 100%; */
    height: 30px;
    background-color: var(--color-primary);
    border-radius: 10px;
}

.Go_Back {
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: right;
}

.Go_Back_btn {
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    background-color: #1a1a1a;
    cursor: pointer;
    transition: border-color 0.25s;
}

.Go_Back_btn:hover {
    border-color: #646cff;
}

.Go_Back_btn:focus,
.Go_Back_btn:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
}

.Go_Back_btn {
    background-color: #5ddcff;
    border-bottom: white;
    border: 1px solid white;
    border-color: white;
}